body {
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1.0px;
}

#App {
  background-color: #d0cccf;
}

#App header {
  background-color: #222;
  color: #fff;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  align-items: center;
}

#App main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

#App header section {
  background-color: #e0ffff;
}

#App .widget {
  display: inline-block;
  line-height: 0.5em;
  border-radius: 10px;
  color: black;
  font-size:0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

#App #heartWidget {
  font-size: 1.5em;
  margin: 1em
}

#App span {
  display: inline-block
}

.color-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.color-button.red {
  background: linear-gradient(0deg, #8b0000, #ff4d4d);
}

.color-button.orange {
  background: linear-gradient(0deg, #ff8000, #ffd280);
}

.color-button.yellow {
  background: linear-gradient(0deg, #ffff66, #ffeb3b);
}

.color-button.green {
  background: linear-gradient(0deg, #228B22, #90ee90);
}

.color-button.blue {
  background: linear-gradient(0deg, #4169e1, #87cefa);
}

.color-button.purple {
  background: linear-gradient(0deg, #800080, #da70d6);
}

.text-color.red {
  color: #c92d2d;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text-color.orange {
  color: #fa9633;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text-color.yellow {
  color: #ffee30;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.4);
}

.text-color.green {
  color: #2a8e2a;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text-color.blue {
  color: #5d92d2;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text-color.purple {
  color: #9138d2;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}


.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.color-button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.text-color.red,
.text-color.orange,
.text-color.yellow,
.text-color.green,
.text-color.blue,
.text-color.purple {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.heart-class {
  font-size: 22px;
}